### CLICKY ANTI-ADBLOCK PROXY - https://clicky.com/help/proxy
### COPY INTO AN .HTACCESS FILE IN YOUR WEBSITE'S ROOT DIRECTORY

<IfModule mod_rewrite.c>
	<IfModule mod_proxy_http.c>
		RewriteEngine on
		RewriteRule ^6ffa18d7efca7b24e1c.js http://static.getclicky.com/js?in=/b33110f0d16efea8859 [P]
		RewriteRule ^b33110f0d16efea8859 http://in.getclicky.com/in.php [P] 
		
		# X-Forwarded-For - delete or comment out to honor existing header
		<IfModule mod_headers.c>
			RequestHeader unset X-Forwarded-For
		</IfModule>
	</IfModule>
</IfModule>

### /CLICKY
